@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #ED3C6A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
  --color-primary01: var(--main);
}

